@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&display=swap");

.task{
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/background.jpg');
    color: #121212;
    height: 100vh;
    
} 
table{
    width: 100%;
}
.table{
    margin: 0 5% 0 5%;
    
    border : 2px solid rgba(255,255,255,0.5);
    padding: 5%;
    border-radius: 25px;
}

