@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&display=swap");
div.navBar.container{
  max-width: 90%;
}

.navbar{
  background-color: rgba(255,255,255,.1);
  backdrop-filter: blur(20px);
}

nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #f3f7f5;
}

.link-brand {
  width: 15vh;
  
}

.link {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #000 !important;
  letter-spacing: 1px;
  padding: 0 25px;
  margin: 0 30px;
  font-size: 24px !important;
  opacity: 0.75;
  text-decoration: none;
}

.navbar-link.active {
  opacity: 1;
}

@media (max-width: 1000px ){
  .link-brand{
    width: 15%;
  }
  .link{
    margin: 10px 0px;
  }
}


@media (max-width: 700px ){
  .link-brand{
    width: 25%;
  }
  .link{
    margin: 10px 0px;
  }
}

/* nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
  } */

/* nav.navbar a.navbar-brand {
    width: 9%;
  } */

/* nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
  }

  span.navbar-text {
    display: flex;
    align-items: center;
  } */
